################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FinanceDemoProj/CopilotIndices/17.14.1431.25910
/.vs/FinanceDemoProj/FileContentIndex
/.vs/FinanceDemoProj/v17
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
/.vs/DemoAppFinance/CopilotIndices/17.14.1431.25910
/.vs/DemoAppFinance/FileContentIndex/1a929825-3744-4bbd-ba3e-3f432af14527.vsidx
/.vs/DemoAppFinance/FileContentIndex/24fc2cc0-bc83-432e-b7bb-c19472b013ed.vsidx
/.vs/DemoAppFinance/FileContentIndex
/.vs/DemoAppFinance/v17/.wsuo
/.vs/DemoAppFinance/v17/DocumentLayout.json
/.vs/DemoAppFinance/v17
/.vs/DemoAppFinance/config
/FinanceApp/.vs/FinanceApp/CopilotIndices/17.14.1431.25910
/FinanceApp/.vs/FinanceApp/FileContentIndex
/FinanceApp/.vs/FinanceApp/v17
/FinanceApp/.vs/FinanceApp/copilot-chat/e348ecc6/sessions
